<html lang="es">

<body style="background-color: rgb(46, 46, 46);">
    <div class="container-fluid">
        <div class="row Encabezado barraEncabezado">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">

                    <h4 class="textoNav tituloTienda">
                        {{nombrePag}}
                    </h4>

                    <div class="navbar-nav me-auto">
                        <a class="nav-link textoNav" href="/tienda">{{tienda}}</a>
                        <a class="nav-link textoNav" href="/noticias">{{noticias}}</a>
                        <a class="nav-link textoNav" href="/soporte">{{soporte}}</a>
                        <a class="nav-link textoNav" href="/nosotros">{{acerca}}</a>
                    </div>

                </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid cuerpo">
        <div style="padding: 101px; height:100%; padding-bottom: 11%;">
            <div style="height: 50px;">
                <h1 class="textoEncabezado" style="margin-top: 1%;">Recuperar Contraseña</h1>
            </div>
            <div class="cartarecuperar">
                <div style="padding: 20px;">
                    <div class="textoEncabezado">
                        <h6>He olvidado el nombre o contraseña de mi cuenta de Steam</h6>
                    </div>
                    <div class="textoEncabezado" style="height: 25px;">
                        <p style="font-size: 13px;">Introduce tu dirección de correo electrónico</p>
                    </div>
                    <div class="input-group mb-2" style="background-color: transparent;">
                        <span class="input-group-text custom-symbol" id="basic-addon1"
                            style="background-color: transparent;">&#64;</span>
                        <input style="background-color: transparent;" type="text" class="form-control custom-input"
                            placeholder="Correo Electronico" aria-describedby="basic-addon1">
                    </div>

                    <div class="textoEncabezado">
                        <button type="button" data-bs-target="#exampleModal" data-bs-toggle="modal"
                            class="btn btn-outline-primary">Enviar correo de recuperación</button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="background-color: rgb(46, 46, 46);">
                                    <div class="modal-header" style="background-color: rgb(46, 46, 46);">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel"
                                            style="color: rgb(255, 255, 255);">Mensaje de recuperación enviado</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body"
                                        style="color: rgb(255, 255, 255); background-color: rgb(46, 46, 46);">
                                        Si su correo fue escrito correctamente y se encuentra registrado en nuestra
                                        plataforma, en los proximos minutos recibirá un correo
                                        con los pasos a seguir para recuperar su contraseña
                                    </div>
                                    <div class="modal-footer" style="background-color: rgb(46, 46, 46);">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span style="font-size: 13px;">¿Recuerdas la contraseña?</span>
                        <a style="font-size: 13px; margin-left: 5px; color: #ccc;" href="/login">Iniciar Sesion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>